.App {
  text-align: center;
}

.title{
  color: yellow;
  font-family: cursive;
  font-size: 7vw;
}

.shot-got-shot-header{
  font-family: fantasy;
  font-size: 4.5vw;
}

.player-button{
  font-weight: bold;
  color: orangered;
  font-family: fantasy;
  /*font-size: 40px;*/
  font-size: 4vw;
}

.apply-shot-button{
  background-color: #FF333E;
  /*width: 200px;*/
  width: 14vw;
  /*height: 100px;*/
  height: 7vw;
  /*font-size: 33px;*/
  font-size: 2.5vw;
  font-weight: bold;
  color: chartreuse;
}

.todays-totals-header{
  color: orchid;
  font-family: cursive;
  /*font-size: 90px;*/
  font-size: 6vw;
  height: 4vw;
}

.total-entries{
  color: blue;
  /*font-size: 50px;*/
  font-size: 4vw;
  height: 2vw;
}

.button-default{
  /*height: 80px;
  width: 180px;
  */
  height: 7vw;
  width: 14vw;
  font-family: calisto;
  font-weight: bold;
  /*font-size: 23px;*/
  font-size: 1.7vw;
  color: tomato;
}

.input-box{
  height: 6vw;
  width: 36vw;
  background-color: lightblue;
}

.tot-shots-long-term{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: dashed 0.5vw;
  border-color: black;
  margin-bottom: 1vw;
  margin-top: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 2.5vw;
  background-color: chartreuse;
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/