.App {
  text-align: center;
}

.title{
  color: yellow;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 7vw;
}

.shot-got-shot-header{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 4.5vw;
}

.player-button{
  color: orangered;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 4vw;
}

.apply-shot-button{
  background-color: #FF333E;
  width: 14vw;
  height: 7vw;
  font-size: 2.5vw;
  font-weight: bold;
  color: chartreuse;
}

.todays-totals-header{
  color: orchid;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 6vw;
  height: 4vw;
  animation: animate 1.0s linear infinite;
}

@keyframes animate {
  0%{
      opacity: 1;
  }
  50%{
      opacity: 0.75;
  }
  100%{
      opacity: 1;
  }
}


.total-entries{
  color: blue;
  font-size: 4vw;
  height: 2vw;
}

.button-default{
  height: 7vw;
  width: 14vw;
  font-family: calisto;
  font-weight: bold;
  font-size: 1.7vw;
  color: tomato;
}

.input-box{
  height: 6vw;
  width: 36vw;
  background-color: lightblue;
}

.tot-shots-long-term{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: dashed 0.5vw;
  border-color: black;
  margin-bottom: 1vw;
  margin-top: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 2.5vw;
  background-color: chartreuse;
}
